<p id="notice"><%= notice %></p>

<p>
  <strong>Photo title:</strong>
  <%= @comment.photo_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
