<!DOCTYPE html>
<html>
<head>
  <title>FlickerClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if current_user.try(:admin?) %>
    <%= current_user.email %> | <%= link_to "Sign out", '/users/sign_out', method: :delete %>
    <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in' %>
  <% elsif current_user %>
    <%= current_user.email %> | <%= link_to "Sign out", '/users/sign_out', method: :delete %>
    <%= link_to "Sign in", '/users/sign_in' %>
    <% else %>
    <%= link_to "Sign in", '/users/sign_in' %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
     <%= yield %>
</body>
</html>
